.ol{
    flex-direction: row;
    background-color: black;
    color: brown;
}
.li{
    flex-direction: row;
}
.h1{
    text-transform: none;
    color: blue;
    text-decoration: none;
}
.h2{
    image-orientation: inherit ;
}
.h3{
    border-image-outset: 0px;
}
.ol{
    flex-direction: row;
    background-attachment: fixed;
    color: aquamarine;
}
.li{
    flex-direction: row;
}
.hover{
    display: block;
    
}